<% if (talks && talks.length) { %>
  <ol class="item-list" role="list">
    <% talks.forEach(function(talk) { %>
      <li class="item-list__item">
        <h3>
          <% if (talk.url) { %>
            <a href="<%= talk.url %>"><%= talk.title %></a>
          <% } else { %>
            <%= talk.title %>
          <% } %>
        </h3>
        <p class="item-list__meta"><%= talk.event %><% if (talk.date) { %> · <%= talk.date %><% } %><% if (talk.location) { %> · <%= talk.location %><% } %></p>
        <% if (talk.summary) { %><p><%= talk.summary %></p><% } %>
      </li>
    <% }) %>
  </ol>
<% } else { %>
  <p class="empty-state">No public talks are listed on this site yet.</p>
<% } %>
